package pages

import (
	"merge/internal/model"
	"merge/internal/views/components"
)

templ RepositoryMainView(viewData model.RepositoryViewData) {
	{{ filters := model.RepositoryFilters{Owner: viewData.Owner, Repository: viewData.Repository, Scope: viewData.Scope, Contributor: viewData.Contributor, Status: viewData.Status} }}
	@components.RepositorySidebar(filters, viewData.ScopeCounts, viewData.ScopeSort, viewData.ContributorCounts, viewData.ContributorSort)
	<section class="scroll">
		<div class="overview" id="overview-stats">
			@components.PullRequestCounts(viewData.OverallCounts, viewData.HasMore, filters, viewData.CurrentPage + 1)
		</div>
		@components.PullRequestScrollSection(viewData.PullRequests, filters, viewData.CurrentPage, viewData.HasMore)
	</section>
	@components.RepositoryFilterPanel()
	@components.ContextPane()
}
