package components

import (
	"fmt"
)

templ PullRequestStatusCount(iconClass string, pullRequestCount int, statusLabel string, destinationURL string, isActive bool) {
	if destinationURL != "" {
		<div class={ "item stat", templ.KV("active", isActive) }
			hx-get={ templ.SafeURL(destinationURL) }
			hx-target="main"
			hx-push-destinationURL="true">
			<p class="bold">{ statusLabel }</p>
			<i class={ "status-icon fa-solid " + iconClass }></i>
			<b>{ fmt.Sprintf("%d", pullRequestCount) }</b>
		</div>
	} else {
		<div class={ "item stat", templ.KV("active", isActive) }>
			<p class="bold">{ statusLabel }</p>
			<i class={ "status-icon fa-solid " + iconClass }></i>
			<b>{ fmt.Sprintf("%d", pullRequestCount) }</b>
		</div>
	}
}

templ InlinePullRequestCount(iconClass string, pullRequestCount int) {
	<div class="stat">
		<i class={ "status-icon fa-solid " + iconClass }></i>
		<span class="bold small">{ fmt.Sprintf("%d", pullRequestCount) }</span>
	</div>
}
