package components

templ IconRow(iconClass string, colorModifier string, heading string, description string) {
	<div class="item icon-card box">
		<div class={ "icon-container", templ.KV(colorModifier, colorModifier != "") }>
			<i class={ iconClass }></i>
		</div>
		<div class="title-row">
			<p class="bold">{ heading }</p>
		</div>
		<div class="description-row">
			<p class="small">{ description }</p>
		</div>
	</div>
}
