package components

templ RepositoryNavigation(owner, repository, scope string) {
	<nav id="nav" x-data="nav">
        <div>
            <h4 class="bold site-brand">
                <a href="/">Merge Zone</a>
            </h4>
            <button id="theme-toggle" class="link-button" @click="$store.app.cycleTheme()" aria-label="Cycle theme">
                <i class="fa-solid" :class="{
                    'fa-sun': $store.app.theme === 'white',
                    'fa-feather-pointed': $store.app.theme === 'parchment',
                    'fa-cloud-moon': $store.app.theme === 'purple',
                    'fa-moon': $store.app.theme === 'midnight'
                }" aria-hidden="true"></i>
            </button>
        </div>
        <div>
            @RepositorySearchInput(owner, repository, scope, "…", "…", "…", true, true)
        </div>
	</nav>
}
