package components

import (
	"fmt"
	"strings"

	"merge/internal/model"
	"merge/internal/views/helpers"
)

// PullRequestDetail renders the detail fragment for a single pull request.
templ PullRequestDetail(pullRequest model.StampedPullRequest, owner, repository, currentPath string) {
	<div class="context-pane-header">
		<a class="context-pane-title" href={ pullRequest.URL }>
			<i class={ "status-icon fa-solid " + helpers.GetStatusClass(pullRequest) }></i>
			if pullRequest.Title != "" {
				@Markdown(pullRequest.Title)
			} else {
				Pull Request
			}
			<i class="fa-solid fa-up-right-from-square"></i>
		</a>
		<button class="button-toggle" aria-label="Close" onclick="Alpine.store('contextPane').closePane()">
			<i class="fa-solid fa-xmark" aria-hidden="true"></i>
		</button>
	</div>
	<div class="context-pane-body scroll">
		<div class="context-pane-meta">
			<div class="meta-row">
				<span class="meta-label">
					<i class="fa-solid fa-hashtag"></i>
					Number
				</span>
				<span class="meta-value">{ fmt.Sprintf("#%d", pullRequest.Number) }</span>
			</div>
			<div class="meta-row">
				<span class="meta-label">
					<i class="fa-solid fa-code-pull-request"></i>
					Status
				</span>
				<span class="meta-value">{ pullRequest.State }</span>
			</div>
			<div class="meta-row">
				<span class="meta-label">
					<i class="fa-solid fa-clock"></i>
					Age
				</span>
				<span class="meta-value">@Age(pullRequest.TimeOpen, pullRequest.DaysOpen)</span>
			</div>
			<div class="meta-row">
				<span class="meta-label">
					<i class="fa-solid fa-user"></i>
					Author
				</span>
				{{ authorPath := helpers.StripQueryParam(currentPath, "contributor")
				currentStatus := helpers.GetQueryParam(currentPath, "status")
				q := []string{"contributor=" + pullRequest.Author.Name}
				if currentStatus != "" {
					q = append(q, "status="+currentStatus)
				}
				authorURL := authorPath + "?" + strings.Join(q, "&")
				}}
				<a
					class="meta-value meta-link"
					href={ templ.SafeURL(authorURL) }
					hx-get={ templ.SafeURL(authorURL) }
					hx-target="section.scroll"
				>{ pullRequest.Author.Name }</a>
			</div>
			if len(pullRequest.Scopes) > 0 {
				<div class="meta-row">
					<span class="meta-label">
						<i class="fa-solid fa-tag"></i>
						Scope
					</span>
					{{ scopeURL := fmt.Sprintf("/%s/%s/%s", owner, repository, pullRequest.Scopes[0])
					currentStatus := helpers.GetQueryParam(currentPath, "status")
					currentContributor := helpers.GetQueryParam(currentPath, "contributor")
					q := []string{}
					if currentContributor != "" {
						q = append(q, "contributor="+currentContributor)
					}
					if currentStatus != "" {
						q = append(q, "status="+currentStatus)
					}
					if len(q) > 0 {
						scopeURL += "?" + strings.Join(q, "&")
					}
					}}
					<a
						class="meta-value meta-link"
						href={ templ.SafeURL(scopeURL) }
						hx-get={ templ.SafeURL(scopeURL) }
						hx-target="section.scroll"
					>{ pullRequest.Scopes[0] }</a>
				</div>
			}
		</div>
		@Markdown(pullRequest.Body)
	</div>
}
