package components

import (
	"fmt"

	"merge/internal/model"
	"merge/internal/views/helpers"
)

templ PullRequestCard(pullRequest model.StampedPullRequest, owner, repository string) {
	<div
		class="item pull-request box"
		data-draft={ fmt.Sprintf("%t", pullRequest.IsDraft) }
		data-pull-request-number={ fmt.Sprintf("%d", pullRequest.Number) }
		data-pull-request-title={ pullRequest.Title }
		data-pull-request-status-class={ helpers.GetStatusClass(pullRequest) }
		data-pull-request-url={ pullRequest.URL }
		data-pull-request-state={ pullRequest.State }
		data-pull-request-age={ model.TimeAgoLong(pullRequest.TimeOpen, pullRequest.DaysOpen) }
		data-pull-request-author-name={ pullRequest.Author.Name }
		data-pull-request-author-url={ pullRequest.Author.URL }
		if len(pullRequest.Scopes) > 0 {
			data-pull-request-scope={ pullRequest.Scopes[0] }
			data-pull-request-scope-url={ fmt.Sprintf("/%s/%s/%s", owner, repository, pullRequest.Scopes[0]) }
		}
		hx-on:click="Alpine.store('contextPane').openPane(Number(this.dataset.pullRequestNumber), this.dataset)"
	>
        <div class="pull-request-header">
            <div class="icon-container">
                <i class={ fmt.Sprintf("status-icon fa-solid %s", helpers.GetStatusClass(pullRequest)) }></i>
            </div>
            <div class="title-row">
                <b class="item-title">@Markdown(pullRequest.Title)</b>
            </div>
            <div class="description-row">
                <span>
                    #{ pullRequest.Number }
                </span>
                <span>
                    { pullRequest.State }
                </span>
                <span title={ model.TimeAgoLong(pullRequest.TimeOpen, pullRequest.DaysOpen) }>
                    @Age(pullRequest.TimeOpen, pullRequest.DaysOpen)
                </span>
                <span>
                    <a href={ pullRequest.Author.URL }>{ pullRequest.Author.Name }</a>
                </span>
				for _, scope := range pullRequest.Scopes {
					<span>
                        <a href={ fmt.Sprintf("/%s/%s/%s", owner, repository, scope) } hx-get={ fmt.Sprintf("/%s/%s/%s", owner, repository, scope) } hx-target="main" hx-push-url="true">{ scope }</a>
                    </span>
				}
            </div>
        </div>
	</div>
}
