package components

import (
	"merge/internal/model"
)

templ PullRequestScrollItems(pullRequests []model.StampedPullRequest, owner string, repository string) {
	for _, pullRequest := range pullRequests {
		@PullRequestCard(pullRequest, owner, repository)
	}
}

templ PullRequestLoadMoreControl(filters model.RepositoryFilters, nextPullRequestPage int, hasMorePullRequests bool, replaceOutOfBandContent bool) {
	<div id="load-more-card" if replaceOutOfBandContent { hx-swap-oob="true" }>
		<div class="item load-more box"
			hx-get={ filters.PageURL(nextPullRequestPage) }
			hx-target="#scroll-content"
			hx-swap="beforeend">
			<i class="fa-solid fa-plus"></i>
			<span>Load more</span>
			<i class="fa-solid fa-circle-notch fa-spin htmx-indicator"></i>
		</div>
	</div>
}

templ PullRequestScrollSection(pullRequests []model.StampedPullRequest, filters model.RepositoryFilters, currentPage int, hasMorePullRequests bool) {
	<div class="section-heading">
		<span>Pull Requests</span>
	</div>
	<div class="scroll-content" id="scroll-content">
		@PullRequestScrollItems(pullRequests, filters.Owner, filters.Repository)
	</div>
	@PullRequestLoadMoreControl(filters, currentPage+1, hasMorePullRequests, false)
}
