package components

import "merge/internal/model"

templ RepositorySidebar(filters model.RepositoryFilters, scopeSummaries []model.ScopeInfo, scopeSortOrder string, contributorSummaries []model.ContributorInfo, contributorSortOrder string) {
	<aside class="aside-column">
		@RepositoryNavigation(filters.Owner, filters.Repository, filters.Scope)
		<div class="scroll">
			<div id="scopes-section">
				@ScopeSummaries(scopeSummaries, scopeSortOrder, filters)
			</div>
			<div id="contributors-section">
				@ContributorSummaries(contributorSummaries, contributorSortOrder, filters)
			</div>
		</div>
		<footer>
			<span>Built by <a class="bold" href="https://www.haydenheroux.com">Hayden Heroux</a></span>
			<span>View on <a class="bold" href="https://www.github.com/mergezone/mergezone">GitHub</a></span>
			<span>View on <a class="bold" href="https://www.merge.zone/mergezone/mergezone">Merge Zone</a></span>
		</footer>
	</aside>
}
