package components

import (
	"fmt"

	"merge/internal/model"
	"merge/internal/views/helpers"
)

templ ScopeCard(scope model.ScopeInfo, filters model.RepositoryFilters) {
    {{ scopeURL := filters.WithScope(scope.Name).URL() }}
    <div class={ "item scope sidebar-card", templ.KV("active", scope.Name == filters.Scope) } href={ templ.SafeURL(scopeURL) } hx-get={ templ.SafeURL(scopeURL) } hx-target="main" hx-push-url="true">
        <div class="text">
            <span class="title">{ scope.Name }</span>
        </div>
        <div class="meta">
            <span class="age">
                @AgeStr(scope.NewestPRAge)
            </span>
            <span class="count">
                { fmt.Sprintf("%d", scope.TotalPullRequests()) }<span class="count-label">{ helpers.PrLabel(scope.TotalPullRequests()) }</span>
            </span>
        </div>
    </div>
}

templ ContributorCard(contributor model.ContributorInfo, filters model.RepositoryFilters) {
    {{ contributorURL := filters.WithContributor(contributor.Name).URL() }}
    <div class={ "item contributor sidebar-card", templ.KV("active", contributor.Name == filters.Contributor) } hx-get={ templ.SafeURL(contributorURL) } hx-target="main" hx-push-url="true">
        <div class="img-skeleton-wrapper avatar-wrapper">
            <img class="avatar" data-src={ contributor.AvatarURL } alt={ contributor.Name + "'s avatar" } loading="lazy"/>
        </div>
        <div class="text">
            <span class="title">{ contributor.Name }</span>
        </div>
        <div class="meta">
            <span class="age">
                @AgeStr(contributor.NewestPRAge)
            </span>
            <span class="count">
                { fmt.Sprintf("%d", contributor.TotalPullRequests()) }<span class="count-label">{ helpers.PrLabel(contributor.TotalPullRequests()) }</span>
            </span>
        </div>
    </div>
}
